button {
  padding: 3px 12px;
  border: solid 2px var(--button-border);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.75;
}

.primary {
  background-color: var(--button-primary);
}

.secondary {
  background-color: var(--button-secondary);
}
