@import url("fonts/index.css");

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--main);
  background-color: var(--dark-cyan);
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "NanumGothic", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main: #18233a;
  --dark-cyan: #008b8b;
  --button-primary: #8cb369;
  --button-secondary: #9a4f95;
  --button-border: #7d4f50;
}
